.download-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.preview {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0.5rem;
}